name: veriface
services:
  server:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "80:80"
    env_file:
      - ./backend/.env
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    develop:
      watch:
        - action: rebuild
          path: ./backend/requirements.txt
        - action: sync
          path: ./backend
          target: /app
          ignore:
            - __pycache__/
    networks:
      - app-network
    
    stdin_open: true
    tty: true
    shm_size: '8gb'

    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility


  web:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    develop:
      watch:
        - action: rebuild
          path: ./frontend/package.json
        - action: rebuild
          path: ./frontend/package-lock.json
        - action: rebuild
          path: ./frontend/next.config.js
        - action: sync
          path: ./frontend
          target: /app
          ignore:
            - node_modules/
            - .next/
    networks:
      - app-network
    depends_on:
      server:
        condition: service_started

    

networks:
  app-network:
