name: veriface
services:
  server:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "80:80"
    develop:
      watch:
        - action: rebuild
          path: ./backend/requirements.txt
        - action: sync
          path: ./backend
          target: /app
          ignore:
            - __pycache__/
    environment:
      - DB_URL=postgresql://postgres:postgres@db:5432/veriface_db
    networks:
      - app-network
    depends_on:
      db:
        condition: service_started  

  web:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    develop:
      watch:
        - action: rebuild
          path: ./frontend/package.json
        - action: rebuild
          path: ./frontend/package-lock.json
        - action: rebuild
          path: ./frontend/next.config.js
        - action: sync
          path: ./frontend
          target: /app
          ignore:
            - node_modules/
            - .next/
    environment:
      - SERVER_URL=
    networks:
      - app-network
    depends_on:
      server:
        condition: service_started

  db:
    image: postgres
    environment:
      POSTGRES_DB: veriface_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    networks:
      - app-network
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql

networks:
  app-network:
volumes:
  db_data:
