@import "tailwindcss";

:root {
  --background: #c72eff;
  --foreground: #000000;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #c72eff;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
#page-root {
  min-height: 100vh;
  width: 100%;
  display: block; /* Prevent global flex/grid styles from affecting layouts */
}
